.button span.original,
.a-btn span.original,
.btn span.original {
    position : relative;
    left : 0;
    top : 0;
    opacity : 1;
    width : 100%;
    height : 100%;
    transition : top 0.3s, opacity 0.3s;
    transition-timing-function : cubic-bezier(0.2, 1, 0.3, 1);
    transform : translate3d(0, 0, 0);
    color : #296471;
    display : block;
}
.button:hover  span.original,
.a-btn:hover span.original,
.btn:hover span.original {
    opacity : 0;
    top : -25%;
}
.button span.clone,
.a-btn span.clone,
.btn span.clone {
    padding-left : inherit;
    position : absolute;
    left : 0;
    top : 0;
    opacity : 0;
    width : 100%;
    height : 100%;
    transition : transform 0.3s, opacity 0.3s;
    transition-timing-function : cubic-bezier(0.2, 1, 0.3, 1);
    transform : translate3d(0, 25%, 0);
    color : white;
}
.button:hover span.clone,
.a-btn:hover span.clone,
.btn:hover span.clone {
    opacity : 1;
    transform : translate3d(0, 0, 0);
}
.a-btn span.original {
    color : white;
}
.slid_scroll_w {
    width : 100%;
    overflow : auto;
    margin-top : -46px;
    height : 165px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    font-size : 0;
}
.arcticmodal-container,
.arcticmodal-overlay {
    position : fixed;
    left : 0;
    top : 0;
    right : 0;
    bottom : 0;
    z-index : 1000;
}
.arcticmodal-container {
    overflow : auto;
    margin : 0;
    padding : 0;
    border : 0;
    border-collapse : collapse;
}
:first-child + html .arcticmodal-container {
    height : 100%;
}
.arcticmodal-container_i {
    margin : 0 auto;
    height : 100%;
}
.arcticmodal-container_i2 {
    padding : 24px;
    margin : 0;
    border : 0;
    vertical-align : middle;
}
.sec11 {
    overflow : initial!important;
    z-index : 3;
}
.error-input {
    border : 1px solid red;
}
#okgo {
    max-width : 320px;
    text-align : center;
    padding : 20px;
    font-size : 20px;
    background : white;
    color : black;
}
.video iframe {
    width : 100%;
    height : 100%;
}
.slid_lic_m .bx-viewport {
    height : 320px!important;
}
.slid_lic_m {
    margin : 20px 30px!important;
    text-align : center;
    height : 284px;
}
.slid_lic_m .lic img {
    display : block;
    margin : 0 auto;
    position : relative;
    left : -3px;
}

.sec1 #bgvid {
    position : absolute;
    top : 50%;
    left : 50%;
    max-width : 100%;
    /* min-height : 100%; */
    /* width : auto; */
    height : auto;
    z-index : -100;
    transform : translate(-50%, -50%);
}
.map .map-w {
    position : absolute;
    top : -50px;
    width : 100%;
    bottom : 0;
}
.map .map-w iframe#map {
    position : absolute;
    left : 0;
    top : 0;
    top : 0;
    width : 100%;
    height : 100%;
}
.sec7 .wrap > * {
    transition : all 0.25s;
}

.animate.sec7 .wrap > * {
    opacity : 0;
}
#popup-animation {
    z-index : -120;
    top : 0;
    left : 0;
    position : absolute;
    background : white;
}
#menu {
    position : fixed;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    z-index : 20;
    background : rgba(255, 255, 255, 0.8);
    display : none;
}
#menu .close {
    background : url(../img/close.png);
    width : 29px;
    height : 29px;
    margin-left : 294px;
    margin-top : 35px;
    margin-bottom : 90px;
    cursor : pointer;
}
#menu a.link.open:after {
    content : ' ';
    display : inline-block;
    background : url(../img/link-opened.png);
    width : 11px;
    height : 6px;
    margin-left : 4px;
}
#menu a.link.action {
    color : #4898a9;
}
#menu a.link {
    font-size : 16px;
    color : #494949;
    display : block;
    text-align : left;
    text-decoration : underline;
    margin-left : 10px;
    margin-bottom : 14px;
    cursor : pointer;
}
#menu a.uslug {
    font-size : 16px;
    color : #494949;
    display : block;
    text-align : left;
    text-decoration : underline;
    margin-left : 34px;
    margin-bottom : 14px;
    cursor : pointer;
}
#menu a:hover {
    text-decoration : none!important;
}

body.h-fixed #menu .close {
    margin-top : 20px;
}

body.h-fixed .header {
    position : fixed;
    padding : 4px 0;
    top : 0;
    background : rgba(41, 100, 113, 0.6);
}
