.a-btn span.original,
.btn span.original {
    position : relative;
    left : 0;
    top : 0;
    opacity : 1;
    width : 100%;
    height : 100%;
    transition : top 0.3s, opacity 0.3s;
    transition-timing-function : cubic-bezier(0.2, 1, 0.3, 1);
    transform : translate3d(0, 0, 0);
    color : #296471;
    display : block;
}
.a-btn:hover span.original,
.btn:hover span.original {
    opacity : 0;
    top : -25%;
}
.a-btn span.clone,
.btn span.clone {
    padding-left : inherit;
    position : absolute;
    left : 0;
    top : 0;
    opacity : 0;
    width : 100%;
    height : 100%;
    transition : transform 0.3s, opacity 0.3s;
    transition-timing-function : cubic-bezier(0.2, 1, 0.3, 1);
    transform : translate3d(0, 25%, 0);
    color : white;
}
.a-btn:hover span.clone,
.btn:hover span.clone {
    opacity : 1;
    transform : translate3d(0, 0, 0);
}
.a-btn span.original {
    color : white;
}
.slid_scroll_w{
    width:100%;
    overflow:auto;    
    margin-top : -46px;
    height:145px;
}
